<div class="row">
  <div class="col-auto">
    <h2>Welcome back, {{username}}!</h2>
  </div>
</div>



    <form class="form new-blog">
      <div class="form-group">
        <label for="project-name">Post Title:</label>
        <input
          class="form-input"
          type="text"
          id="blog-title"
          name="blog-title"
        />
      </div>
      <div class="form-group">
        <label for="project-desc">Post Message:</label>
        <textarea
          class="form-input"
          id="blog-message"
          name="blog-message"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if post.length}}
    <div class="col-md-6 project-list">
      <h3>Current Blogs:</h3>

      {{#each post as |Post|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h2>{{post.post-title}}</h2>
            <p>{{post.post-message}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src='../model/blogs.js'></script>